.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
.absoluteCenter {
    /* Must manually set width/height */
    width:1400px;
    height:600px;

    /* The magic centering code */
    margin:auto;
    position:absolute;
    top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
    left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

    /* Prevent div from overflowing main window */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    }
    .absoluteCenterMovil { 
        margin:auto;
        position:absolute;
        top:-100px;bottom:50px; /* Aligns Vertically - Remove for Horizontal Only */
        left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */
    
        /* Prevent div from overflowing main window */
        max-width:100%;
        max-height:80%;
        overflow:auto;
        font-size: 35px;
        }

    .centerW { 
        margin:auto;
        position:absolute;
        top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
        left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */
     
        }

    /* IE 7 and Below */
    :first-child+html .absoluteCenter,
    * html .absoluteCenter {
    /* Place code here to override all above values, and add IE friendly centering */
    }
 
    .label_power
    {
        background-color: #7fc248;
        color: #fff;
        border-radius: 5px;
        padding: 1px 3px 1px 3px;
    }
    .label_energy
    {
        background-color: #4e8b1c;
        color: #fff;
        border-radius: 5px;
        padding: 1px 3px 1px 3px;
    }
    .label_temperature
    {
        background-color: #547ce0;
        color: #fff;
        border-radius: 5px;
        padding: 1px 3px 1px 3px;
    }
    .label_humidity
    {
        background-color: #274ba7;
        color: #fff;
        border-radius: 5px;
        padding: 1px 3px 1px 3px;
    } 
    .label_co2
    {
        background-color: #19306b;
        color: #fff;
        border-radius: 5px;
        padding: 1px 3px 1px 3px;
    } 
    .label_door
    {
        background-color: #f3b173;
        color: #fff;
        border-radius: 5px;
        padding: 1px 3px 1px 3px;
    } 
    .loader,
    .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }
    .loader {            
        margin: 60px auto;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(255, 255, 255, 0.2);
        border-right: 1.1em solid rgba(255, 255, 255, 0.2);
        border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
        border-left: 1.1em solid #ffffff;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    #loadingDiv {
        position:absolute;;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.7);
    }
    